<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body ng-app='app'>
  <div ng-controller='PostsCtrl' class='container'>
    <h1>Recent Posts</h1>
      <input ng-model='postBody' class='form-control' />
      <button ng-click='addPost()' class='btn btn-default'>Add Post</button>
    <ul class='list-group'>
      <li ng-repeat='post in posts' class='list-group-item'>
        <strong>@{{ post.username }}</strong>
        <span>{{ post.body }}</span>
      </li>
    </ul>
  </div>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
    <script>
    // create our app module
    var app = angular.module('app', [])

    // create the PostsCtrl module
    // dependency inject $scope
    app.controller('PostsCtrl', function ($scope) {

      // When "Add Post" button on line 10 is clicked run this function
      $scope.addPost = function () {
        // Add text only if user inputs text
        if ($scope.postBody) {
          // Add New Post to the beginning of the array
          $scope.posts.unshift({
            username: 'Moderator',
            body: $scope.postBody // use the text entered
          })
          // clear the input field
          $scope.postBody = null
        }
      }

      // starting data
      $scope.posts = [
        {
          username: 'LenoraPorter',
          body: 'I like to start building all Angular features following this approach, first by dropping static HTML into a page and then replicating it with dynamic Angular code.'
        },
        {
          username: 'EllPee',
          body: 'Okay, I see! Awesome Tips!'
        }
      ]
    })
  </script>
</body>
</html>